.mbr-docs{
  .start-block{
    margin-bottom: 50px;
    img{
      width: 100%;
    }
    .img{
      margin-bottom: 70px;
    }
    .descr{
      text-align: center;
      & div{
        padding: 0 20%;
        margin-bottom: 10px;
      }
    }
  }
}
.docs{
  text-align: center;
  h2{
    margin-bottom: 55px;
  }
  img{
    width: 100%;
    opacity: 0;
  }
  .short-info{
    position: relative;
  }
  .text-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: @gray;
    color: @white;
    padding: 30px;
  }
  .name{
    text-transform: uppercase;
    color: @yellow;
    font-size: 16px;
    padding: 0 25%;
    // margin-top: 30px;
  }
  .img{
    background-image: url(/img/images/460.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .descr{
    padding-top: 10px;
  }
  hr{
    width: 33%;
  }
}