/*TAGS*/

body{
  color: @dark;
  font-size: 14px;
  line-height: 1.25;
  font-family: 'Lora', serif;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  font-weight: 400;
}
h2{
  font-size: 32px;
  text-transform: uppercase;
  @media screen and (max-width: @mobile){
    font-size: 24px;
  }
  br{
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
}
a{
  color: @dark;
  &:hover{
    color: inherit;
    text-decoration: underline;
  }
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*GENERAL CLASSES*/

.t-centered{
  display: table;
  text-align: center;
  width: 100%;
  &>div{
    display: table-cell;
  }
}
.centered{
  text-align: center;
}

/*THEME STYLES*/

.mbr-container{
  margin: auto;
  width: @container-max-width;
  padding: 28px @container-padding 0;
  position: relative;
  @media screen and (max-width: @mobile){
    width: 100%;
    padding: 0;
  }
}

.mbr-maket{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.mbr-btn{
  background-color: transparent;
  border: 2px solid @yellow;
  border-radius: 0;
  padding: 13px 36px;
  transition: all 300ms;
  position: relative;
  &:active,&:focus,&.active, &:active:focus{
    box-shadow: none !important ;
    outline: none !important;
  }
  &:hover{
    background-color: @yellow;
  }
  &.has-icon:hover{
    background-color: rgba(246, 191, 72, 0.5);
  }
  &--yellow-bg{

  }
  &--yellow-c{
    color: @yellow;
  }
  &--dark{
    border-color: @dark;
    &:hover{
      color: @white;
      background-color: @gray;
    }
  }
  &--small{
    padding: 5px 23px;
  }
  .btn-icon{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.mbr-topbar{
  text-align: center;
  height: 84px;
  position: relative;
  @media screen and (max-width: @mobile){
    height: 53px;
    background-color: @yellow;
  }
  .left-block{
    // float: left;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    width: 200px;
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
  .center-block{
    width: 300px;
    margin: auto;
    @media screen and (max-width: @mobile){
      margin: initial;
    }
  }
  .right-block{
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    text-align: right;
    width: 200px;
    font-size: 12px;
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
  .phone{
    font-size: 20px;
    margin-bottom: 14px;
  }
  .address{
    margin-bottom: 5px;
  }
  .map{
    font-size: 15px;
    text-decoration: underline;
  }
  .logo{
    padding-top: 10px;
    @media screen and (max-width: @mobile){
      padding: 0;
      padding-top: 5px;
      padding-left: 5px;
    }
  }
  .logo>div{
    margin: auto;
    @media screen and (max-width: @mobile){
      margin: initial;
      transform: scale(0.8);
    }
  }
  #mbr-mobile-menu-btn{
    display: none;
    height: 53px;
    width: 53px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 8px;
    .bar{
      background-color: @dark;
      height: 2px;
      width: 25px;
      margin: 6px 0;
    }
    @media screen and (max-width: @mobile){
      display: block;
    }

  }
}
.mbr-menu{
  width: 100%;
  height: 52px;
  background-color: @yellow;
  @media screen and (max-width: @mobile){
    display: none;
    background-color: @gray;
    color: @white;
    height: auto;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0;
  }
  li{
    display: inline-block;
    font-size: 16px;
    width: 20%;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
    position: relative;
    @media screen and (max-width: @mobile){
      width: 100%;
      padding: 28px 0;
      border-bottom: 1px solid #7B7B7B;
    }
  }
  a,span{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 18px 0 0;
    @media screen and (max-width: @mobile){
      color: @white;
      padding: 0;
    }
  }
  .plus{
    position: absolute;
    right: 20px;
    top: 28px;
    width: 14px;
    height: 14px;
    display: none;
    span{
      width: 14px;
      height: 2px;
      background-color: @yellow;
      position: absolute;
      top: 7px;
      left: 0;
      &:last-child{
        transform: rotate(90deg);
        transition: all 200ms;
      }
    }
    @media screen and (max-width: @mobile){
      display: block;
    }
  }
  .active .plus span:last-child{
    transform: rotate(0deg);
  }
  .dropdown{
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 600%;
    background-color: @gray;
    display: none;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 10ms;
    @media screen and (max-width: @mobile){
      position: relative;
      opacity: 1;
      z-index: 1;
      border-top: 1px solid #7B7B7B;
      padding: 0;
      margin-top: 28px;
    }
    li{
      display: block;
      height: initial;
      padding-left: 0px;
      width: 100%;
      text-align: left;
      cursor: pointer;
      &:hover a{
        color: @yellow;
      }
      border: 0;
      @media screen and (max-width: @mobile){
        text-align: center;
      }
    }
    a{
      color: @white;
      font-size: 14px;
      &:hover{
        color: @yellow;
      }
    }
    &:hover{
      opacity: 1;
      // display: block;
      z-index: 1;
    }
  }
  .has-dropdown:hover .dropdown,.has-dropdown .dropdown:hover{
    opacity: 1;
    // display: block;
    z-index: 1;
  }

}
.mbr-footer{
  background-color: @gray;
  color: @white;
  margin-left: -@container-padding;
  margin-right: -@container-padding;
  padding: 45px @container-padding;
  // margin-top: 300px;
  @media screen and (max-width: @mobile){
    margin: 0;
    padding: 20px;
  }
  &>div{
    width: 250px;
    display: inline-block;
    vertical-align: top;
    @media screen and (max-width: @mobile){
      width: 100px;
    }
  }
  ul{
    a{
      color: @white;
      &:hover{
        color: @yellow;
      }
    }
    li{
      margin-bottom: 15px;
    }
  }
  .right-block{
    text-align: right;
    float: right;
    width: 200px;
    @media screen and (max-width: @mobile){
      width: 150px;
    }
  }
  .center-block{
    width: 440px;
    text-align: center;
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
  .metros{
    margin-top: 20px;
    li{
      margin-bottom: 5px;
    }
  }
}

/*OWL SLIDER STYLES*/

.mbr-slider{
  .owl-dots{
    text-align: center;
  }
  .owl-dot{
    width: 12px;
    height: 12px;
    border: 1px solid @dark;
    border-radius: 50%;
    display: inline-block;
    margin: 16px 5px 0;
    &.active{
      background-color: @dark;
    }
  }
  .owl-nav>div{
    position: absolute;
    top: 0;
    height: 100%;
    width: 59px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .owl-prev{
    left: -50px;
    // &>div{
    //   background-image: url("../img/sprites/svg/svg-sprite.svg");
    //   background-position: -364px -130px;
    //   width: 23px;
    //   height: 12px;
    //   background-repeat: no-repeat;
    //   background-size: 398px 326px;
    // }
  }
  .owl-next{
    right: -50px;
    // &>div{
      

    //   background-image: url("../img/sprites/svg/svg-sprite.svg");
    //   background-position: -364px -118px;
    //   width: 23px;
    //   height: 12px;
    //   background-repeat: no-repeat;
    //   background-size: 398px 326px;
    // }
  }
}

/*FORMS*/

.mbr-form{
  input{
    width: 100%;
    height: 38px;
    background-color: transparent;
    color: @light;
    border: 1px solid @normal;
    padding-left: 10px;
    border-radius: 0;
    appearance: none;
    &:focus{
      outline: 0;
      box-shadow: none;
      border-color: @yellow;
    }
  }
  .field{
    text-align: left;
    margin-bottom: 22px;
  }
  label{
    margin-bottom: 11px;
    width: 100%;
  }
  textarea{
    width: 100%;
    height: 38px * 3;
    color: @light;
    border: 1px solid @normal;
    background-color: transparent;
    resize: none;
    border-radius: 0;
    appearance: none;
    &:focus{
      outline: 0;
      box-shadow: none;
      border-color: @yellow;
    }
  }
  .mbr-btn{
    width: 100%;
  }
}
.mbr-social-share-block{
  text-align: center;
  width: 240px;
  margin: auto;
  h3{
    font-weight: 700;
    font-size: 16px;
  }
  ul{
    list-style-type: none;
  }
  li{
    display: inline-block;
  }
  span{
    margin: 0 5px;
  }
}

/*TABS*/

.mbr-tabs{
  ul{
    display: inline-flex;
    @media screen and (max-width: @mobile){
      display: none;  
    }
  }
  span{
    width: 100%;
    height: 0px;
    background-color: @yellow;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 200ms;
    @media screen and (max-width: @mobile){
      width: 10px;
      height: 10px;
      border-bottom: 2px solid @yellow;
      border-left: 2px solid @yellow;
      background-color: initial;
      transform-origin: center;
      transform: rotate(-45deg);
      right: 50px;
      top: 40px;
      left: initial;
    }
  }
  li{
    position: relative;
    text-align: left;
    height: 130px;
    background-color: @gray;
    color: @white;
    padding: 34px 21px;
    transition: all 200ms;
    font-size: 16px;
    cursor: pointer;
    @media screen and (max-width: @mobile){
      padding-right: 100px;
      height: 96px;
      margin:0 10px 7px;

    }
    // &:hover{
    //   color: @yellow;
    // }
    &:hover, &.active{
      color: @yellow;
      span{
        height: 5px;
        @media screen and (max-width: @mobile){
          height: 10px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .tabs .tab-content{
    display: none;
    margin-top: 50px;
    @media screen and (max-width: @mobile){
      margin: 20px 0 7px;
    }
    &.active{
      display: block;
      // @media screen and (max-width: @mobile){
      //   margin-top: 96px * 2;
      // }
    }
  }
  .tab-block{
    position: relative;
  }
  .mobile-tab-btn{
    position: relative;
    text-align: left;
    background-color: @gray;
    color: @white;
    padding: 34px 21px;
    transition: all 200ms;
    font-size: 16px;
    padding-right: 50px;
    height: 96px;
    margin:0 10px 7px;
    display: none;
    @media screen and (max-width: @mobile){
      display: block;
    }
    span{
      width: 10px;
      height: 10px;
      border-bottom: 2px solid @yellow;
      border-left: 2px solid @yellow;
      background-color: initial;
      transform-origin: center;
      transform: rotate(-45deg);
      right: 30px;
      top: 40px;
      left: initial;
      transition: all 200ms;
    }
    &.sticky{
      position: fixed;
      z-index: 1000;
      top: 0;
      &.bottom{
        position: absolute;
        bottom: 0;
        top: initial;
        margin-bottom: 0;
      }
      &+.tab-content{
        padding-top: 96px+20px;
      }
    }
    &.active{
      color: @yellow;
      span{
        @media screen and (max-width: @mobile){
          height: 10px;
          transform: rotate(45deg);
        }
      }
    }
  }
}

/*POPUPS*/

.mbr-popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(60,60,60,0.8);
  z-index: 1000;
  display: none;
  // display: flex;
  &__inner{
    width: @container-max-width - 2*@container-padding; 
    height: 50%;
    background-color: @white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid @yellow;
  }
  &__close{
    position: absolute;
    right: -25px;
    top: -25px;
    cursor: pointer;
  }
  &#mbr-popup-book &__inner{
    width: 460px;
    height: 500px;
    border: 0;
  }
}
#mbr-popup-map{
  .mbr-popup__inner{
    height: 449px;
    width: 944px;
  }
}
#mbr-popup-slider{
  .mbr-popup__inner{
    max-width: 600px;
    max-height: 600px;
    border: 0;
  }
  .owl-nav>div{
    height: 100%;
  }
  .owl-next>div{

  }
  .owl-prev>div{

  }
}
#howto-map{
  cursor: pointer;
  &:hover{
    color: @yellow;
  }
}
#popup-map{
  width: 100%;
  height: 100%;
}
#popup-book{
  text-align: center;
  padding: 50px 70px;
  .descr{
    text-align: left;
    margin-bottom: 50px;
  }
}
.mbr-main-slider{
  .owl-nav{
    @media screen and (max-width: @mobile){
      display: none;
    }
  }
}


