.mbr-service{
  .start-block{
    img{
      width: 100%;
      margin-top: 10px;
      height: 300px;
    }
  }
}
.mbr-service__content{
  
  text-align: center;
  h3{
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 50px;
  }
  p{
    text-align: left;
    margin-bottom: 10px;
    padding: 0 25%;
  }
  img{
    margin: 50px 0;
  }
}